html {
    scroll-behavior: smooth;
  }


body{
    font-family: "montserrat";
    text-align: "center";
    border-bottom: yellowgreen 5px;
}

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

/* SECTIONS */
.colored-section{
    background-color: transparent;
    color: white;
}

.container-fluid{
    padding: 5% 15%;
}


#button2 {
    border: 2px solid rgb(235, 230, 230);
    background-color: transparent;
    color: rgb(255, 251, 251);
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }

.tes {
    position: absolute;
    right: 32px;
    top: 50px;
}


#jobedu {
    background-color: #333;
    color: rgb(243, 239, 239);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.typewriter {
    color: #fff;
    font-family: amatic SC ;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: left; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(200, 219, 23) }
  }

#anime3 {
    text-align: center;
    color:#fff;
    padding-top:10em;
    font-family: amatic SC;
  }

#navtop {
    margin-right: 10px;
    margin-top: 20px;
}

#aboutme h2 {
    display: inline;
}

#navbarNav {
    margin-top: 20px;
    margin-right: 10px;
}

#form #skills{
    display: inline-table;
}

#textarea {
    width: 400;
    height: 160px;
  }

#submit {
    width: 150px;
    height: 30px;
    background: rgb(177, 172, 248);
}

.transparent-input{
    background-color:transparent;
}


/* SKILL BAR */

* {
list-style: none;
padding: 0;
}


.skills {
    width: 500px;
    margin: 60px auto;
    color: white;
}

.skills li {
    margin: 20px 0;
}

.bar {
    background: #363b48;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 4px;
    float: left;
    background: #2187e7;
}

.html {
    width: 90%;
    animation: html 2s;
}

.css {
    width: 80%;
    animation: css 2s;
}

.jquery {
    width: 50%;
    animation: jquery 2s;
}

.javascript {
    width: 70%;
    animation: javascript 2s;
}

@keyframes html {
   0%{
       width: 0%;
   } 
   100%{
       width: 90%;
   }
}

@keyframes css {
    0%{
        width: 0%;
    } 
    100%{
        width: 90%;
    }
 }

 @keyframes jquery {
    0%{
        width: 0%;
    } 
    100%{
        width: 90%;
    }
 }

 @keyframes javascript {
    0%{
        width: 0%;
    } 
    100%{
        width: 90%;
    }
 }

 .textkuning {
    color: #dcad3f;
 }

 #footer {
     color: burlywood;
     padding: 10px 15%;
}

body a {
    text-decoration: none;
}
